.html {
    box-sizing: border box;
}
*, *::before, ::after{
  box-sizing: inherit;
  scroll-behavior: smooth;
}
body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5204px;
    background: #FFFFFF;
}
.header{
    display: flex;
    width: 100%;
    height: 101px;
    background: #E43071;
}
.gym-name{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: center;
    width: auto;
    height: 44px;
    margin-top: 31px;
    margin-left: 36px;
    margin-bottom: 26px;
    margin-right: 172px;
    line-height: 109.5%;
}
.colortext{
    color: #FFC1D8;
}
.navigation{
    flex-wrap: nowrap;
    width: auto;
}
.nav-list{
    list-style-type: none;
    margin-top: 44px;
    margin-bottom: 39px;
    padding: 0;
    height: 18px;
    width: auto;
}
.nav-link{
    display: inline;
    width: auto;
    height: 18px;
    margin-right: 76px;
}

.nav-link a, .last-link a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%; /* 17.52px */
    color: #FFFFFF;
}
.last-link{
    display: inline;
    margin-right: 0px;
}
.svg-search{
    display: inline;
    margin: 44px 36.88px 37.72px 6px;
}

.login{
    width: 166px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 200px;
    background: #FFF;
    margin: 25px 41px 26px 0px;
    padding: 0;
    border: 0;
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%;
    cursor: pointer;
}
/*конец хедер*/

.welcome{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 725px;
    flex-shrink: 0;
    background: url(./assets/img/img1.jpg), lightgray 0px -71.886px / 100% 153.336% no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.21));
}
.title-welcome{
    width: 778px;
    height: 172px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 77px */
    margin: 241px auto 8px auto;
}
.color-lyfe{
    color: var(--Sub-Pink, #FFC1D8);
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.benefits{
    width: 237px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 38.5px;
    background: #E43071;
    padding: 0;
    border: 0;
    margin: 0 auto 156px auto;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    cursor: pointer;
}
.pagination{
    display: flex;
    width: 97px;
    height: 17px;
    flex-shrink: 0;
    margin: 0 auto 29px auto;
    justify-content:space-between;
    cursor: pointer;
}
.paginator{
    margin-top: 3px;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius:50%;
}
.paginator_active{
    width: 17px;
    height: 17px;
    background: #E43071;
    border-radius:50%;
}
.wave{
    width: 100%;
    height: 34px;
    flex-shrink: 0;
}
/*конец секции Welcome*/
.meetyourbody{
    width: 100%;
    height: 719px;
    background: #FFFFFF;

}
.body-box{
    display: flex;
    width: 80%;
    height: 503px;
    flex-shrink: 0;
    margin: 94px auto 122px auto;
}
.male-img{
    position: relative;
    width: 347px;
    height: 399px;
    flex-shrink: 0;
    background:  lightgray 50% / cover no-repeat;
    z-index: 0;
}
.female-img{
    position: absolute;
    width: 241px;
    height: 359px;
    flex-shrink: 0;
    z-index: 1;
    margin-left: 199px;
    margin-top: 144px;
}
.text-box{
    display: flex;
    flex-direction: column;
    margin: 103px 0 128px 272px;
}
.title-body{
    width: 414px;
    height: 60px;
    color: #E43071;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    margin: 0;
}
.body-text{
    width: 540px;
    height: 163px;
    flex-shrink: 0;
    color: var(--Grey-Copy, #424242);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px; /* 231.25% */
    margin: 0;
}
.faq{
    width: 237px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 38.5px;
    border: 2px solid var(--Premium-Pink, #E43071);
    padding: 0;
    background: #FFF;
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    cursor: pointer;
}

/*конец 3 секции*/

.become-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    flex-shrink: 0;
    background: rgba(57, 57, 57, 0.22);
    background: url(/assets/img/img4.jpg),lightgray 0px -909.869px / 100% 308.534% no-repeat;
    background-size: cover;
    background-position: center;
}
.title-become{
    width: auto;
    height: 60px;
    margin: 231px auto 0 auto;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-become{
    width: 533px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 35px auto 0 auto;
}
.doit{
    width: 237px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 38.5px;
    background: var(--Premium-Pink, #E43071);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    margin: 0 auto 204px auto;
    border: 0;
    cursor: pointer;
}
/*конец 4 сегмента*/

.facilities{
    display: flex;
    width: auto;
    height: 428px;
    margin: 224px 79px 129px 155px;
}
.box-facil{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.title-facil{
    width: auto;
    height: 60px;
    color: #E43071;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 97px;
    margin-bottom: 0;
}
.text-facilities{
    width: 489px;
    height: 163px;
    flex-shrink: 0;
    color: #424242;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px; /* 231.25% */
}
.learn{
    width: 237px;
    height: 68px;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 38.5px;
    border: 2px solid #E43071;
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    cursor: pointer;
}
.img-box{
    width: 572px;
    height: 435px;
    margin-left: 135px;
}
.gym-img{
    position: absolute;
    width: 444px;
    height: 296px;
    flex-shrink: 0;
    z-index: 1;
}
.weights-img{
    position: relative;
    width: 422px;
    height: 281px;
    flex-shrink: 0;
    z-index: 0;
    margin-top: 154px;
    margin-left: 150px;
}



